body {
    background-color: #f8f9fa;
}

.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.feature-card {
    border-radius: 10px;
    transition: 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.register-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    box-shadow: none;
    border-color: #6c757d;
}

.busqueda-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: #6c757d;
}

.tablaInventario {
    margin-top: 20px;
}